*{
    margin: 0;
    padding: 0;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 400px) {
    .img_items_filter img{
        /* width: 84%; */
        margin: 0 auto;
        max-height: 170px;
        transform: scaleX(1.2);
        cursor: pointer;
        transition: .4s;
      }

      .ban_3,.ban_4{
       height: 300px;
       width: 60%;
       margin: 0 auto;
      }

      .ban_1x{
        top:20%;
        transform: translate(50% 50%);
      }

      .ban_2x{
        top:20%;
      }

      .ban_2x .font-xx{
        font-weight: 900;
      }

      .ban_3x{
        /* top:1%;
        left: 0; */
        /* transform: translate(50% 50%); */
      }

      
    
}
@media only screen and (max-width: 600px) {
    .img_items_filter img{
        /* width: 80%; */
        margin: 0 auto;
        max-height: 250px;
        transform: scaleX(1.2);
        cursor: pointer;
        transition: .4s;
      }

      .ban_3,.ban_4{
        height: 280px;
        width: 65%;
        margin: 0 auto;
       }

       .ban_3x{
        top:50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .img_items_filter img{
        /* width: 80%; */
        margin: 0 auto;
        max-height: 350px;
        transform: scaleX(1.2);
        cursor: pointer;
        transition: .4s;
      }

      .ban_3,.ban_4{
        height: 560px;
        width: 68%;
        margin: 0 auto;
       }

       

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .img_items_filter img{
        /* width: 80%; */
        margin: 0 auto;
        max-height: 350px;
        transform: scaleX(1.2);
        cursor: pointer;
        transition: .4s;
      }

      .ban_3,.ban_4{
        height: 95%;
        width: 100%;
      }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}